@inject NavigationManager _nav

<div class="card-container">

    <HomeCardComponent>
        <FrontFace>
            <i class="fa-solid fa-square-poll-horizontal"></i>
            <h3>Explore All Polls</h3>
        </FrontFace>
        <BackFace>
            <p class="card-text"> Create a poll or explore polls that have already been created, including active and finished polls.</p>
            <a class="nav-btn-card" @onclick="NavigateToPolls" type="button">Let's Go!</a>
        </BackFace>
    </HomeCardComponent>

    <HomeCardComponent>
        <FrontFace>
            <i class="fa-solid fa-magnifying-glass"></i>
            <h3>Find A Poll</h3>
        </FrontFace>
        <BackFace>
            <div>
                <p class="card-text"> Enter your poll id, then click "Find" to navigate to your poll.</p>
                <input class="id-input" @bind="@pollId" @bind:event="oninput" />
            </div>
            <a @onclick="FindAPoll" class="nav-btn-card" type="button">Find Poll</a>
        </BackFace>
    </HomeCardComponent>

    <HomeCardComponent>
        <FrontFace>
            <i class="fa-solid fa-info"></i>
            <h3>Quick Poll Info</h3>
        </FrontFace>
        <BackFace>
            <p class="card-text">Info about Quick Poll including support links and contact info.</p>
            <a class="nav-btn-card" @onclick="NavigateToInfo" type="button">Take Me There</a>
        </BackFace>
    </HomeCardComponent>

</div>

@code {

    [CascadingParameter]
    public UserModel LoggedInUser { get; set; }

    [CascadingParameter]
    public ModalWrapper ModalWrapperComponent { get; set; }

    MouseEventArgs mouseArgs;

    private string pollId;

    private void NavigateToInfo() =>
        _nav.NavigateTo("/polls");
    

    private void NavigateToPolls()
    {
        if (string.IsNullOrWhiteSpace(LoggedInUser?.UserId))
        {
            ShowLoginModal(mouseArgs);
            return;
        }

        _nav.NavigateTo("/polls");
    }

    private void FindAPoll()
    {
        if (string.IsNullOrWhiteSpace(LoggedInUser.UserId))
        {
            ShowLoginModal(mouseArgs);
            return;
        }

        _nav.NavigateTo($"/polls/{pollId}");
    }

    private void ShowLoginModal(MouseEventArgs mouseArgs) =>
        ModalWrapperComponent.ShowModal(
            mouseArgs, typeof(LoginComponent), new Dictionary<string, object> {}, true);
}

<style>
    .card-text {
        font-weight: 700;
    }
</style>