
<div @onclick="Toggle" class="collapsable">
    <div class="title">
        @if (Collapsed)
        {
             <span>➕</span>
        }
        else
        {
             <span>➖</span>
        }
        @Title
    </div>
    @if (!string.IsNullOrEmpty(Value))
    {
            <div class="value">
                <h4><span class="badge badge-success">@Value</span></h4>
            </div>
    }
    @if (!Collapsed)
    {
        <div class="collapsable-panel">
            @ChildContent
        </div>
    }
</div>



@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public bool Collapsed { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public string Value { get; set; }

    void Toggle()
    {
        Collapsed = !Collapsed;
    }
}

<style>

    .collapsable {
        cursor: pointer;
        width: 50%;
        margin: .5em auto;
        box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.7),inset 0 0 4px rgba(0, 0, 0, 0.7),inset 0 0 6px rgba(0, 0, 0, 0.7);
        padding: .25em 1em;
        border-radius: 6px;
    }

    .collapsable-panel {
        padding: 25px;
        overflow: hidden;
        color: #fff;
        margin-left: 1em;
    }

    .collapsable .title {
        display: table-cell;
    }

    .collapsable .value {
        display: table-cell;
        text-align: right;
    }

    @@media(max-width: 1000px) {
            .collapsable {
            width: 70%;
        }
    }

    @@media(max-width: 600px) {
            .collapsable {
            width: 90%;
        }
    }
</style>
