@page "/polls"
@attribute [Authorize]
@inject NavigationManager _nav
@inject IPollService _pollService
@inject IMongoUserData _userData

<CascadingValue Value="_loggedInUser">

    <Tabs ActiveItem="@activeTab" Items="@tabs" HandleTabChange="HandleTabChange" />

    <div class="content-container">
        @switch (activeTab)
        {
            case "All Polls": 
                <div class="search-bar-container">
                    <SearchBar AllPolls="_allPolls" HandleSearchInput="HandleSearchInput" />
                </div>
                <PollList PollsToDisplay="_pollsToDisplay" />
                break;
            case "Create Poll":
                <CreatePollForm HandleAdd="HandleAdd" />
                break;
        }
    </div>

</CascadingValue>

@code {
    private HubConnection _pollHubConnection;

    private List<PollModel> _allPolls = new();
    private List<PollModel> _pollsToDisplay = new();
    private List<PollModel> _finishedPolls = new();

    private string[] tabs = new string[2] { "All Polls", "Create Poll" };
    private string activeTab = "All Polls";

    private UserModel _loggedInUser;

    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationStateTask { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _loggedInUser = await GetLoggedInUser();
            
            _pollHubConnection = new HubConnectionBuilder()
                        .WithUrl(_nav.ToAbsoluteUri("/pollhub"))
                        .WithAutomaticReconnect()
                        .Build();

            _pollHubConnection.On<string, List<PollModel>>("getAllPolls", (from, allPolls) =>
            {
                _allPolls = allPolls;
                _pollsToDisplay = _allPolls;
                InvokeAsync(StateHasChanged);
            });

            _pollHubConnection.On<string, PollModel>("getPoll", (from, poll) =>
            {
                var pollToUpdate = _allPolls.Where(p => p.PollId == poll.PollId).FirstOrDefault();
                if (pollToUpdate is not null)
                {
                    int index = _allPolls.IndexOf(pollToUpdate);
                    _allPolls[index] = poll;
                }
                InvokeAsync(StateHasChanged);
            });

            await _pollHubConnection.StartAsync();
            await _pollService.BroadcastAllPolls();
        }
    }

    private void HandleSearchInput(List<PollModel> filteredPolls) => _pollsToDisplay = filteredPolls;

    private void HandleTabChange(string tab) => activeTab = tab;

    private void HandleAdd() => activeTab = "All Polls";

    private async Task<UserModel> GetLoggedInUser()
    {
        var authState = await AuthenticationStateTask;
        string objectId = authState.User.Claims.FirstOrDefault(c => c.Type.Contains("objectidentifier"))?.Value;
        return await _userData.GetCurrentUserFromAuthentication(objectId);
    }
}

<style>
    .content-container {
        padding: 0 1em;
    }

    .search-bar-container {
        margin: 3em auto;
        position: absolute;
        right: 12.5%;
        top: 12%;
    }

    @@media(max-width: 890px) {
        .search-bar-container {
            position: relative;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            right: auto;
            top: auto;
            margin-bottom: 2em;
        }
    }
</style>
