

<div class="card">
    @ChildContent
</div>

<style>
    .card {
        background: #fff;
        padding: 20px;
        border-radius: 6px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    }

    @@media(max-width: 1100px) {
        .card {
            margin: 1em auto;
        }
    }
</style>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
