
<div class="wrapper">
    <div class="icon facebook">
        <span class="tooltip">@Text</span>
        @ChildContent
    </div>
</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }

    [Parameter] public string Text { get; set; }

    [Parameter] public string BgColor { get; set; }
}

<style>

    .tooltip {
        font-weight: 700;
    }

    .wrapper .tooltip {
        position: absolute;
        top: 0;
        left: 65%;
        font-size: 14px;
        background: @BgColor;
        color: #ffffff;
        padding: 5px 8px;
        border-radius: 5px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

        .wrapper .tooltip::before {
            position: absolute;
            content: "";
            bottom: -1.5em;
            border: 1em solid;
            border-color: @BgColor #0000 #0000 #0000;
        }

    .wrapper .icon:hover .tooltip {
        top: -45px;
        left: 65%;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .wrapper .icon:hover span,
    .wrapper .icon:hover .tooltip {
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
    }

</style>
